<a href="https://colab.research.google.com/github/karthikks0604-design/ict_assignment/blob/main/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Grocery Billing

In [ ]:
i1 = int(input('Price of item 1 : '))
q1 = int(input('Quantity  of item 1 : '))
i2 = int(input('Price of item 2 : '))
q2 = int(input('Quantity  of item 2 : '))
total_bill = i1*q1 + i2*q2
print('Total bill : ', total_bill)

Price of item 1 : 45
Quantity  of item 1 : 3
Price of item 2 : 30
Quantity  of item 2 : 2
Total bill :  195

2. Temperature Conversion

In [ ]:
c = int(input('Temperature in Celsius : '))
f = (c*9/5)+32
print('Temperature in Fahrenheit : ', f)

Temperature in Celsius : 30
Temperature in Fahrenheit :  86.0

3. Salary Slip

In [ ]:
s = int(input('Salary : '))
hra = 0.2*s
da = 0.1*s
net_salary = s+hra+da
print('Net Salary : ', net_salary)

Salary : 20000
Net Salary :  26000.0

4. Simple Interst

In [ ]:
p = int(input('Principle Amount : '))
r = int(input('Rate of Interst : '))
t = int(input('Time Period (in years) : '))
si = (p*r*t)/100
print('Sample Interest : ', si)

Principle Amount : 10000
Rate of Interst : 5
Time Period (in years) : 2
Sample Interest :  1000.0

5. Time Conversion

In [ ]:
t = int(input('Total Time (in minutes) : '))
h = t//60
m = t%60
print(h,'hours and',m,'minutes')

Total Time (in minutes) : 130
2 hours and 10 minutes

6. BMI Calculator

In [ ]:
w = float(input('Weight : '))
h = float(input('Height : '))
bmi = w/h**2
print('BMI : ', bmi)

Weight : 60
Height : 1.65
BMI :  22.03856749311295

7. Discount Calculation

In [ ]:
op = int(input('Original Price : '))
dp = int(input('Discount Percentage : '))
ml = op-(0.1*op)
print('Discounted Price : ', ml)

Original Price : 1200
Discount Percentage : 10
Discounted Price :  1080.0

8. Area of Triangle

In [ ]:
m1 = int(input('Enter the length of first side : '))
m2 = int(input('Enter the length of second side : '))
m3 = int(input('Enter the length of third side : '))
s = (m1+m2+m3)/2
import math
area = math.sqrt(s*(s-m1)*(s-m2)*(s-m3))
print('Area of triangle : ', area)

Enter the length of first side : 5
Enter the length of second side : 6
Enter the length of third side : 7
Area of triangle :  14.696938456699069

9. Paint Cost Estimator

In [ ]:
l = int(input('Enter wall lenght (in meters) : '))
h = int(input('Enter wall height ( in meters) : '))
w = 1.5*1.2
wa = l*h
pa = wa-w
cost = pa*25
print('Total area to be painted : ', pa)
print('Total cost for painting : ', cost)

Enter wall lenght (in meters) : 12
Enter wall height ( in meters) : 8
Total area to be painted :  94.2
Total cost for painting :  2355.0

10. Electricity Bill Calculator

In [ ]:
u = int(input('Enter the number of units consumed : '))
r = u*5.2
print('Rate according to units consumed : ', r)
print('Fixed chager = 100 rs')
total_amt = r+100
print('Total bill : ',total_amt)

Enter the number of units consumed : 250
Rate according to units consumed :  1300.0
Fixed chager = 100 rs
Total bill :  1400.0